@import "sprites";

$rateValue : 414/640;
$spritewidth: 294;	//每次重新生成，需把对应值更改为生成的整个合成精灵图的宽度值
@mixin sprite-width($sprite) {
  width: nth($sprite, 5)*$rateValue;
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6)*$rateValue;
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x * $rateValue  $sprite-offset-y * $rateValue;
  background-size: $spritewidth*$rateValue + px;
}
@include sprites($spritesheet-sprites);

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS
*/

// .account-blue {
// 	@extend %inline-block;
// 	@extend .account_blue;
// }
// .account-gray {
// 	@extend %inline-block;
// 	@extend .account_gray;
// }
// .home-blue {
// 	@extend %inline-block;
// 	@extend .home_blue;
// }
// .home-gray {
// 	@extend %inline-block;
// 	@extend .home_gray;
// }
// .invest-gray {
// 	@extend %inline-block;
// 	@extend .invest_gray;
// }
// .invest-blue {
//   @extend %inline-block;
//   @extend .invest_blue;
// }
// .new-client {
// 	@extend %inline-block;
// 	@extend .new_client;
// }
// .clock{
// 	@extend %inline-block;
// 	@extend .clock;
// }
// .icon-activity{
// 	@extend %inline-block;
// 	@extend .activity;
// }
// .icon-steward{
// 	@extend %inline-block;
// 	@extend .steward;
// }
// .icon-friends{
// 	@extend %inline-block;
// 	@extend .friends;
// }
// .icon-more{
// 	@extend %inline-block;
// 	@extend .more;
// }
// .icon-hot{
// 	@extend %inline-block;
// 	@extend .hot;
// }
// .icon-sale{
// 	@extend %inline-block;
// 	@extend .sale;
// }
// .icon-finish{
// 	@extend %inline-block;
// 	@extend .finish;
// }
// .icon-wait{
// 	@extend %inline-block;
// 	@extend .wait;
// }
// .icon-end{
// 	@extend %inline-block;
// 	@extend .end;
// }
// .account-news{
// 	@extend %inline-block;
// 	@extend .account-news;
// }
// .icon-insure{
// 	@extend %inline-block;
// 	@extend .insure;
// }
// .icon-goback{
// 	@extend %inline-block;
// 	@extend .goback;
// }
// .user-photo{
// 	@extend %inline-block;
// 	@extend .user-photo;
// }
// .icon-code{
// 	@extend %inline-block;
// 	@extend .icon-code;
// }
// .icon-set{
// 	@extend %inline-block;
// 	@extend .icon-set;
// }
// .icon-close{
// 	@extend %inline-block;
// 	@extend .close;
// }
// .select-character{
// 	@extend %inline-block;
// 	@extend .select-character;
// }
// .icon-upglide{
// 	@extend %inline-block;
// 	@extend .upglide;
// }
// .icon-pull-handle{
// 	@extend %inline-block;
// 	@extend .pull-handle;
// }
// .icon-turnoff{
// 	@extend %inline-block;
// 	@extend .turnoff;
// }
// .icon-turnon{
// 	@extend %inline-block;
// 	@extend .turnon;
// }
// .bank-china{
// 	@extend %inline-block;
// 	@extend .bank-china;
// }


//以下是通过定义sprite-background mixin函数定义
.icon-sale {
	background: url("./assets/images/icons/sale.png") no-repeat top center;
    @include sprite-background(45px, 40px);
}
.icon-finish{
	background: url("./assets/images/icons/finish.png") no-repeat top center;
    @include sprite-background(38px, 40px);
}
.icon-wait {
	background: url("./assets/images/icons/wait.png") no-repeat top center;
    @include sprite-background(46px, 40px);
}
.icon-end {
	background: url("./assets/images/icons/end.png") no-repeat top center;
    @include sprite-background(43px, 40px);
}
.account-blue {
	background: url("./assets/images/icons/account_blue.png") no-repeat top center;
    @include sprite-background(28px, 32px);
}
.account-gray {
	background: url("./assets/images/icons/account_gray.png") no-repeat top center;
    @include sprite-background(28px, 32px);
}
.home-blue {
	background: url("./assets/images/icons/home_blue.png") no-repeat top center;
    @include sprite-background(34px, 32px);
}
.home-gray {
	background: url("./assets/images/icons/home_gray.png") no-repeat top center;
    @include sprite-background(34px, 32px);
}
.invest-gray {
	background: url("./assets/images/icons/invest_gray.png") no-repeat top center;
    @include sprite-background(40px, 32px);
}
.invest-blue {
	background: url("./assets/images/icons/invest_blue.png") no-repeat top center;
    @include sprite-background(40px, 32px);
}
.new-client {
	background: url("./assets/images/icons/new_client.png") no-repeat top center;
    @include sprite-background(100px, 100px);
}
.clock{
	background: url("./assets/images/icons/clock.png") no-repeat top center;
    @include sprite-background(29px, 29px);
}
.icon-activity{
	background: url("./assets/images/icons/activity.png") no-repeat top center;
    @include sprite-background(54px, 49px);
}
.icon-steward{
	background: url("./assets/images/icons/steward.png") no-repeat top center;
    @include sprite-background(65px, 49px);
}
.icon-friends{
	background: url("./assets/images/icons/friends.png") no-repeat top center;
    @include sprite-background(65px, 49px);
}
.more{
	background: url("./assets/images/icons/more.png") no-repeat top center;
    @include sprite-background(32px, 32px);
}
.icon-hot{
	background: url("./assets/images/icons/hot.png") no-repeat top center;
    @include sprite-background(100px, 100px);
}
.account-news{
	background: url("./assets/images/icons/account-news.png") no-repeat top center;
    @include sprite-background(48px, 46px);
}
.icon-insure{
	background: url("./assets/images/icons/insure.png") no-repeat top center;
    @include sprite-background(32px, 25px);
}
.icon-insure2{
    background: url("./assets/images/icons/insure2.png") no-repeat top center;
    @include sprite-background(18px, 14px);
}
.icon-goback{
	background: url("./assets/images/icons/goback.png") no-repeat top center;
    @include sprite-background(20px, 38px);
}
.icon-back{
	background: url("./assets/images/icons/back.png") no-repeat top center;
    @include sprite-background(18px, 34px);
}
.icon-cutout{
	background: url("./assets/images/icons/cutout.png") no-repeat top center;
    @include sprite-background(47px, 31px);
}
.user-photo{
	background: url("./assets/images/icons/user-photo.png") no-repeat top center;
    @include sprite-background(32px, 32px);
}
.icon-code{
	background: url("./assets/images/icons/icon-code.png") no-repeat top center;
    @include sprite-background(28px, 28px);
}
.icon-set{
	background: url("./assets/images/icons/icon-set.png") no-repeat top center;
    @include sprite-background(32px, 32px);
}
.icon-close{
	background: url("./assets/images/icons/close.png") no-repeat top center;
    @include sprite-background(32px, 32px);
}
.select-character{
	background: url("./assets/images/icons/select-character.png") no-repeat top center;
    @include sprite-background(32px, 32px);
}
.icon-upglide{
	background: url("./assets/images/icons/upglide.png") no-repeat top center;
    @include sprite-background(32px, 30px);
}
.icon-pull-handle{
	background: url("./assets/images/icons/pull-handle.png") no-repeat top center;
    @include sprite-background(37px, 45px);
}
.icon-turnoff{
	background: url("./assets/images/icons/turnoff.png") no-repeat top center;
    @include sprite-background(24px, 15px);
}
.icon-turnon{
	background: url("./assets/images/icons/turnon.png") no-repeat top center;
    @include sprite-background(24px, 15px);
}
.arrow-r{
	background: url("./assets/images/icons/arrow-r.png") no-repeat top center;
    @include sprite-background(15px, 24px);
}
.down-arrow{
	background: url("./assets/images/icons/down-arrow.png") no-repeat top center;
    @include sprite-background(24px, 14px);
}
.use-hours{
	background: url("./assets/images/icons/use-hours.png") no-repeat top center;
    @include sprite-background(25px, 25px);
}
.right-arrow{
	background: url("./assets/images/icons/right-arrow.png") no-repeat top center;
    @include sprite-background(15px, 24px);
}
.wait-arrow{
	background: url("./assets/images/icons/wait-arrow.png") no-repeat top center;
    @include sprite-background(42px, 42px);
}
.icon-issue{
	background: url("./assets/images/icons/problem.png") no-repeat top center;
    @include sprite-background(30px, 30px);
}
.icon-new-norm{
	background: url("./assets/images/icons/new-norm.png") no-repeat top center;
    @include sprite-background(75px, 29px);
}
.icon-mobile{
	background: url("./assets/images/icons/mobile.png") no-repeat top center;
    @include sprite-background(16px, 26px);
}
.icon-message{
	background: url("./assets/images/icons/message.png") no-repeat top center;
    @include sprite-background(27px, 27px);
}
.icon-succeed{
	background: url("./assets/images/icons/succeed.png") no-repeat top center;
    @include sprite-background(60px, 60px);
}
.icon-await{
	background: url("./assets/images/icons/await.png") no-repeat top center;
    @include sprite-background(60px, 60px);
}
.icon-account{
	background: url("./assets/images/icons/account.png") no-repeat top center;
    @include sprite-background(60px, 60px);
}
.close-yzm{
    background: url("./assets/images/icons/close-yzm.png") no-repeat top center;
    @include sprite-background(16px, 10px);
}
.open-yzm{
    background: url("./assets/images/icons/open-yzm.png") no-repeat top center;
    @include sprite-background(16px, 10px);
}
.icon-drag{
    background: url("./assets/images/icons/drag.png") no-repeat top center;
    @include sprite-background(24px, 27px);
}
.icon-ball{
    background: url("./assets/images/icons/ball.png") no-repeat top center;
    @include sprite-background(18px, 22px);
}

.without{
	background: url("./assets/images/account/without.png") no-repeat top center;
    @include sprite-background(164px, 138px);
}
.tencent-logo{
	background: url("./assets/images/account/tencent.png") no-repeat top center;
    @include sprite-background(119px, 108px);
}
.xhh-logo{
	background: url("./assets/images/account/xhh-logo.png") no-repeat top center;
    @include sprite-background(114px, 123px);
}
.icon-special{
    background: url("./assets/images/icons/specialtj.png") no-repeat top center;
    @include sprite-background(95px, 95px);
}
//银行icon
.bank-china{
	background: url("./assets/images/bank/BOC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CCB{
	background: url("./assets/images/bank/CCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-ABC{
	background: url("./assets/images/bank/ABC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-ICBC{
	background: url("./assets/images/bank/ICBC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-BOBJ{
    background: url("./assets/images/bank/BOBJ.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-ZJMCB{
    background: url("./assets/images/bank/ZJMCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-URCB{
    background: url("./assets/images/bank/URCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-GZCB{
    background: url("./assets/images/bank/GZCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-HKBEA{
    background: url("./assets/images/bank/HKBEA.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-SDB{
    background: url("./assets/images/bank/SDB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-BOS{
    background: url("./assets/images/bank/BOS.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CCQTGB{
    background: url("./assets/images/bank/CCQTGB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CMB{
    background: url("./assets/images/bank/CMB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CZB{
    background: url("./assets/images/bank/CZB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-EGBANK{
    background: url("./assets/images/bank/EGBANK.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CZCB{
    background: url("./assets/images/bank/CZCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-BOCOM{
    background: url("./assets/images/bank/BOCOM.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-BRCB{
    background: url("./assets/images/bank/BRCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CITIC{
    background: url("./assets/images/bank/CITIC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CUCC{
    background: url("./assets/images/bank/CUCC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-HXBC{
    background: url("./assets/images/bank/HXBC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-JSCB{
    background: url("./assets/images/bank/JSCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-TCCB{
    background: url("./assets/images/bank/TCCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-SRCB{
    background: url("./assets/images/bank/SRCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CGB{
    background: url("./assets/images/bank/CGB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-HSBANK{
    background: url("./assets/images/bank/HSBANK.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CBHB{
    background: url("./assets/images/bank/CBHB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CRCC{
    background: url("./assets/images/bank/CRCC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CRCPB{
    background: url("./assets/images/bank/CRCPB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CMBC{
    background: url("./assets/images/bank/CMBC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CCFCCB{
    background: url("./assets/images/bank/CCFCCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-SZPAB{
    background: url("./assets/images/bank/SZPAB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CEB{
    background: url("./assets/images/bank/CEB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CFCA{
    background: url("./assets/images/bank/CFCA.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-PSBC{
    background: url("./assets/images/bank/PSBC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-CIB{
    background: url("./assets/images/bank/CIB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-PFBC{
    background: url("./assets/images/bank/PFBC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-SPDB{
    background: url("./assets/images/bank/SPDB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-NBCB{
    background: url("./assets/images/bank/NBCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-HZB{
    background: url("./assets/images/bank/HZB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-HSBC{
    background: url("./assets/images/bank/HSBC.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-HXB{
    background: url("./assets/images/bank/HXB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}
.bank-GRCB{
    background: url("./assets/images/bank/GRCB.png") no-repeat top center;
    @include sprite-background(50px, 50px);
}

