@charset "UTF-8";

$font-arial : Arial;
$header-height: 60px;
html {
  height: 100%;
  font-family: $font-arial;
}
.main{
  position: relative;
  //padding-top: $header-height;
}

.logo {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: url("./assets/images/logo.png");
}
#contentWrap{
  margin: 60px;
}
